.container.relative
    h2.section__title.bordered.footer__title Вы также можете связаться со мной по контактам ниже или оставить заявку в форме
    .contacts
        .contact.contact--whatsappviber
            .contact__label WhatsApp / Viber
            a.contact__value.phone +7 (926) 168 98-61
        .contact.contact--instagram
            .contact__label Instagram
            a.contact__value(href="https://www.instagram.com/alena_yakovleva888/", target="_blank") alena_yakovleva888
        .contact.contact--telegram
            .contact__label Telegram
            a.contact__value(href="https://telegram.im/@best_obrazovanie", target="_blank") @best_obrazovanie
        .contact.contact--vk
            .contact__label Группа ВК
            a.contact__value(href="https://vk.com/bestobrazovanie", target="_blank") vk.com/bestobrazovanie
        .contact.contact--email
            .contact__label E-mail
            a.contact__value(href="mailto:bestobrazovanie@inbox.ru") bestobrazovanie@inbox.ru
    .contacts__form
        form.ajaxForm#contactsForm
            .form__title Форма обратной связи
            .form__content
                input(type="hidden", name="action", value="callback")
                input.form__control(type="text", name="name", placeholder="Ваше имя")
                input.form__control(type="tel", name="phone", placeholder="Контакный телефон")
            button.btn.form__btn.contacts-form__btn(type="submit") Перезвоните мне