.container
    .row
        .logo.header__logo
            img.hide-sm(src="img/logo.png")
            img.show-sm(src="img/logo-short.png")
        .callback.header__callback
            .callback__text Есть вопрос? Звоните!
            a.callback__phone.phone(href="tel:89261689861") +7 (926) 168 98-61
            a.callback__link(href="#contactsForm") Обратный звонок