<!DOCTYPE html>
html(lang="ru")
	head
		title Best

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet", href="css/main.css")
	body
		#main
			.modal-bg#modalBg
			include modal/success
			include modal/callback
			header
				include header
			main
				block content
			footer
				include footer

		script(src="js/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/main.js")