.modal#callbackModal
    a.modal__close.closeModal(href="#")
    .modal__content
        .modal__form
            form.ajaxForm
                .form__title Получить бесплатную консультацию
                .form__content
                    input(type="hidden", name="action", value="consult")
                    input.form__control(type="text", name="name", placeholder="Ваше имя")
                    input.form__control(type="tel", name="phone", placeholder="Контакный телефон")
                button.btn.form__btn(type="submit") Отправить заявку