.modal#successModal
	a.modal__close.closeModal(href="#")
	.modal__content
		.success
			.success__message Заявка успешно отправлена
			img.success__img(src="img/success.png")
			a.btn.closeModal(href="#") Закрыть